@page "/jobs"
@using StubSite.Shared
@inject NavigationManager NavMan

<div style="min-height:100vh;padding:1em">
    <div @onclick=@(() => NavMan.NavigateTo("https://form.jotform.com/252374009495158"))>
        Click here to apply
    </div>
</div>

@code {

}
