@page "/contact-us"
@using StubSite.Shared
<div style="background-image:linear-gradient(@Constants.ColorScheme["Main"],black);min-height:100vh;padding:1em">
    <ContactForm></ContactForm>
</div>

@code {

}
