@page "/"
@inject NavigationManager NavMan

<PageTitle>Home</PageTitle>

<div>
    <div class="flex-c" style="height:100vh;background-image:linear-gradient(black,@Constants.ColorScheme["Main"])">
        <div class="switch-space-center">
            <div class="flex-c" style="padding:1em">
                <h1>About Us</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi commodo consequat.</p>
            </div>
            <div class="flex-r">
                <img src="/images/CompanyLogo.png" />
            </div>
        </div>
    </div>
</div>

@code {
    protected override Task OnInitializedAsync()
    {
        Constants.CurPage = "Home";
        return base.OnInitializedAsync();
    }
}
