@page "/"
@inject NavigationManager NavMan

<PageTitle>Home</PageTitle>

<div class="flex-c-start" style="min-height:100vh;">
    <div class="flex-r-100" style="justify-content:space-evenly;align-items:center;margin:2em 0;padding-bottom:1em">
        <div style="font-size:5vmin">Coffee House</div>
        <div class="oi oi-media-record" />
        <div style="font-size:5vmin">Restaurant</div>
        <div class="oi oi-media-record" />
        <div style="font-size:5vmin">Full Bar</div>
    </div>
    <div class="switch-space-center">
        <div class="flex-r" style="width:12em">
            <img alt="Company logo" src="/images/CompanyLogo.png" style="width:100%;" />
        </div>
        <div class="flex-c desc" style="padding:1em;">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi commodo consequat.</p>
        </div>
    </div>
    <div class="switch-space-center">
        <div class="flex-r" style="width:12em">
            <img alt="Company logo" src="https://www.publicdomainpictures.net/pictures/270000/velka/coffee-cup-logo-icon-drink-caf.jpg" style="width:100%;" />
        </div>
        <div class="flex-c desc" style="padding:1em;">
            <h1>Coffee & Bar</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi commodo consequat.</p>
        </div>
    </div>
</div>

@code {
    protected override Task OnInitializedAsync()
    {
        Constants.CurPage = "Home";
        return base.OnInitializedAsync();
    }
}
