@page "/"
@inject NavigationManager NavMan


<PageTitle>Home</PageTitle>

<div class="flex-c-start" style="min-height:100vh;">
    <div class="flex-c" style="background-image:url('https://images.squarespace-cdn.com/content/v1/5c09dc6336099be01911cddf/1557450551137-TGNVU5IDDA4QWS66K4BD/IMG_20190311_103530723.jpg?format=1500w');
            background-size:cover;background-position:center;width:100%;height:50vh">
    </div>

    <Marquee>
        <div class="flex-r" style="align-items:center;margin:2em 0;">
            <div style="font-size:5vmin">Coffee House</div>
            <div class="oi oi-media-record" style="margin:0 1em" />
            <div style="font-size:5vmin">Market</div>
            <div class="oi oi-media-record" style="margin:0 1em" />
            <div style="font-size:5vmin">Event Space</div>
            <div class="oi oi-media-record" style="margin:0 1em" />
            <div style="font-size:5vmin">Pop-ups</div>
            <div class="oi oi-media-record" style="margin:0 1em" />
            <div style="font-size:5vmin">Kitchen Takeovers</div>
            <div class="oi oi-media-record" style="margin:0 1em" />

            <div style="font-size:5vmin">Coffee House</div>
            <div class="oi oi-media-record" style="margin:0 1em" />
            <div style="font-size:5vmin">Market</div>
            <div class="oi oi-media-record" style="margin:0 1em" />
            <div style="font-size:5vmin">Event Space</div>
            <div class="oi oi-media-record" style="margin:0 1em" />
            <div style="font-size:5vmin">Pop-ups</div>
            <div class="oi oi-media-record" style="margin:0 1em" />
            <div style="font-size:5vmin">Kitchen Takeovers</div>
            <div class="oi oi-media-record" style="margin:0 1em" />
        </div>
    </Marquee>

    <div class="flex-r-100" style="justify-content:space-evenly;align-items:center;margin:1em 0;">
        <button class="btn btn-primary" style="background-color:@Accent;color:@ButtonText;border-radius:2em;" @onclick=@(() => NavMan.NavigateTo("https://squareup.com/gift/ESVA674CM3G4A/order"))>
            🎁&nbsp;Gift Cards
        </button>
        <button class="btn btn-primary" style="background-color:@Accent;color:@ButtonText;border-radius:2em;" @onclick=@(() => NavMan.NavigateTo("menu"))>
            <span class="oi oi-spreadsheet" style="color:@ButtonText" />&nbsp;Menu
        </button>
    </div>
    <div class="switch-space-center">
        <div class="flex-r" style="width:12em">
            <img alt="Company logo" src="/images/CompanyLogo.png" style="width:100%;border-radius:1em;background-color:black" />
        </div>
        <div class="flex-c desc" style="padding:1em;">
            <h1>Welcome to our hometown</h1>
            <p>Nestled along the Little Miami Scenic Trail in historic downtown Loveland, Hometown cafe is the perfect spot for a relaxing break. Savor coffee and espresso brewed with locally roasted Deeper Roots beans. Enjoy a made-to-order breakfast item. Refuel with a real fruit and veggie smoothie. The cafe is stocked with local treats, snacks and products like cookies, candy, lotion, and energy bars & bites. Kitchen rental is available for makers who need a commercial kitchen to produce their goods. After the café closes, Hometown holds special events like kitchen takeovers and is available for event rental.</p>
        </div>
    </div>
    <div class="switch-space-center">
        <div class="flex-r" style="width:12em">
            <img alt="Coffee Logo" src="https://www.publicdomainpictures.net/pictures/270000/velka/coffee-cup-logo-icon-drink-caf.jpg" style="width:100%;border-radius:1em" />
        </div>
        <div class="flex-c desc" style="padding:1em;">
            <h1>Coffee & Market</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi commodo consequat.</p>
        </div>
    </div>
</div>

@code {
    [CascadingParameter(Name = "Main")]
    public string Main { get; set; }

    [CascadingParameter(Name = "Accent")]
    public string Accent { get; set; }

    [CascadingParameter(Name = "Text")]
    public string Text { get; set; }

    [CascadingParameter(Name = "ButtonText")]
    public string ButtonText { get; set; }

    protected override Task OnInitializedAsync()
    {
        Constants.CurPage = "Hometown";
        return base.OnInitializedAsync();
    }
}
