@page "/menu"
@using StubSite.Data
@using StubSite.Repo
@inject NavigationManager NavMan

<PageTitle>Menu</PageTitle>
<div class="flex-c" style="width:100%;border-bottom:1px black solid">
    <Header Title="Menu" />
    <div class="flex-c" style="width:90%">
        @foreach(string cat in Categories)
        {
            <Header Title="@cat" HeaderType="2" />
            @foreach (var item in Items[cat])
            {
                <MenuItem Title="@item.Name" Desc="@item.Desc" Cost="@item.Cost" />
            }
        }
    </div>
</div>

@code {
    Dictionary<string, List<Item>> Items = new Dictionary<string, List<Item>>();
    List<string> Categories = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        Constants.CurPage = "Menu";

        Items = await MenuRepo.GetMenuItemsAsDictionary();
        Categories = Items.Keys.ToList();
    }
}
