@inject IJSRuntime JSRuntime

<div class="flex-r-100" style="align-items:center">
    @if (HeaderType == 1)
    {
        <h1 id="@Id" class="header" style="@Style;width:95%;text-align:@Alignment">&nbsp;@Title&nbsp;</h1>
    }
    else
    {
        <h2 id="@Id" class="header" style="@Style;width:@(ShowButton ? "90%" : "95%");text-align:@Alignment">&nbsp;@Title&nbsp;</h2>
        @if (ShowButton)
        {
            <button class="btn btn-primary" style="margin-left:.5em;background-color:@Accent;color:@ButtonText;border-radius:2em;"
                    @onclick=@(() => JumpToSection("Menu"))>
                <span class="oi oi-arrow-thick-top" style="color:@ButtonText" />&nbsp;Back to Top
            </button>
        }
    }
</div>

@code {
    [CascadingParameter(Name = "Main")]
    public string Main { get; set; }

    [CascadingParameter(Name = "Accent")]
    public string Accent { get; set; }

    [CascadingParameter(Name = "Text")]
    public string Text { get; set; }

    [CascadingParameter(Name = "ButtonText")]
    public string ButtonText { get; set; }

    [Parameter]
    public string Id { get; set; } = Guid.NewGuid().ToString();
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public int HeaderType { get; set; } = 1;
    [Parameter]
    public string Alignment { get; set; } = "center";
    [Parameter]
    public string Style { get; set; }
    [Parameter]
    public bool ShowButton { get; set; } = true;

    private async Task JumpToSection(string id)
    {
        await JSRuntime.InvokeVoidAsync("scrollToFragment", id);
    }
}
