<div class="flex-r" style="justify-content:space-around;margin:1em">
    <span style="font-size:large;margin:0 1em" class="oi oi-media-record first-dot"></span>
    <span style="font-size:large;margin:0 1em" class="oi oi-media-record second-dot"></span>
    <span style="font-size:large;margin:0 1em" class="oi oi-media-record third-dot"></span>
</div>
