<div class="flex-c" style="width:100%;margin:.5em;align-content:start;align-items:start">
    <div class="flex-r-100" style="width:100%;justify-content:space-between;align-items:center">
        <h2 style="max-width:75%">@Title</h2>
        <h2 class="cost-box">@Cost</h2>
    </div>
    <h5>@Desc</h5>
    <hr style="width:100%" />
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Desc { get; set; }
    [Parameter]
    public string Cost { get; set; }
}
